{{>header}}

<div style="text-align: center;">
    <br>
    <h1 class="display-3">Welcome to <span class="text-primary">MediaList</span>!</h1>

   MediaList can help you keep track of things you want to read, watch, listen to, etc.
</div>

{{>footer}}
